# **Exercise 1.1**

* **`Q1:`** ***In a print statement, what happens if you leave out one of the parentheses, or both?***

* **`ANS:`** ***We will get a syntax-error like in the example given below:***

In [3]:
print('Hello'

SyntaxError: incomplete input (1103635973.py, line 1)

* **`Q2:`** ***If you are trying to print a string, what happens if you leave out one of the quotation marks,
 or both?***

* **`ANS:`** ***If we leave out one of one of the quation marks then we will get an sytax error saying `unterminated string literal`.  
If we leave both the commas then we will get invalid sytax error. For example:***

In [1]:
print('hello world)

SyntaxError: unterminated string literal (detected at line 1) (645893441.py, line 1)

In [2]:
print(hello world)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (2497053111.py, line 1)

* **`Q3:`** ***You can use a minus sign to make a negative number like-2. What happens if you put a plus  
            sign before a number? What about 2++2?***

* **`ANS:`** ***Nothing happens. Python treats that number as a positive number.   
Example:***

In [4]:
value = 2 + +2
value

4

In [5]:
value = 2+ +2
value

4

* **`Q4:`** ***In math notation, leading zeros are ok, as in 09. What happens if you try this in Python?  
    What about 011?***

* **`ANS:`** ***We will get syntax error, like in the examples given below:***

In [6]:
value = 09
value

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (787119966.py, line 1)

In [7]:
value = 011

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (3510028965.py, line 1)

* **`Q5:`** ***What happens if you have two values with no operator between them?***

* **`ANS:`** ***We will get invalid syntax error, like in the examples given below:***

In [9]:
value = 23 523

SyntaxError: invalid syntax (1846559239.py, line 1)

# **Exercise 1.2**

* **`Q1:`** ***How many seconds are there in 42 minutes 42 seconds?***

* **`ANS:` ***`2562` seconds***.**

In [10]:
print(42 + (42*60))

2562

* **`Q2:`** ***How many miles are there in 10 kilometers? Hint: there are 1.61 kilometers in a mile.***

* **`ANS:` ***`6.21` miles***.**

In [11]:
# 1 mile = 1.61 KM
print(10/1.61)

6.211180124223602

* **`Q3:`** ***If you run a 10 kilometer race in 42 minutes 42 seconds, what is your average pace (time per   
mile in minutes and seconds)? What is your average speed in miles per hour?***

In [16]:
#Total distance in KMs
total_distance_km = 10

#Total time in mins and secs
total_time_minutes = 42
total_time_seconds = 42

total_time_minutes += total_time_seconds / 60
total_distance_miles = total_distance_km * 0.62

#average pace per mile
average_pace_per_mile_minutes = total_time_minutes / total_distance_miles

#Converting average pace to minutes and seconds
average_pace_minutes = int(average_pace_per_mile_minutes)
average_pace_seconds = int((average_pace_per_mile_minutes - average_pace_minutes) * 60)

#average speed in miles per hour
average_speed_mph = total_distance_miles / (total_time_minutes / 60)

print(f"Average pace: {average_pace_minutes} minutes {average_pace_seconds} seconds per mile")
print(f"Average speed: {average_speed_mph:.2f} miles per hour")

Average pace: 6 minutes 53 seconds per mile
Average speed: 8.71 miles per hour